<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.futabooo.android.booklife">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name=".BookLife"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/NoActionBar">

    <activity
        android:name=".screen.splash.SplashActivity"
        android:theme="@style/SplashTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".screen.login.LoginActivity"
        android:theme="@style/NoActionBar">
    </activity>

    <activity
        android:name=".screen.MainActivity">
    </activity>

    <activity
        android:name=".screen.search.SearchActivity">
    </activity>

    <activity
        android:name=".screen.bookdetail.BookDetailActivity">
    </activity>

    <activity
        android:name=".screen.bookedit.BookEditActivity">
    </activity>

  </application>

</manifest>